body{
    margin: 0;
    padding: 0;
    
}
.first-section{
    height: 500px;
}
.hello {
    font-size: 45px;
    color: #222f3e;
    letter-spacing: 2px;
}
.name{
    font-size: 45px;
    color: #ff6348;
}
.font-design{
    font-family: 'Anton', sans-serif;
}
.first-half p{
    width: 300px;
    color: #666;
}
.first-half{
    float: left;
    width: 35%;
    margin-left: 10%;
    margin-top: 5%;
}
.first-half img{
    width: 88%;
    margin-right: 2%;
}
.hire-me{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(30deg, #141e30 ,#243b55);
    padding: 17px 36px;
    border-radius: 3px;
}

/* about section  */
.about-section{
    height: 500px;
}
.about-half{
    width: 35%;
    margin-left: 11%;
    float: left;
    margin-top: 110px;
}
.about-half img{
    width: 88%;
    margin-top: -25px;
    margin-right: 100px;
}
.about-title{
    font-size: 37px;
    color: #222f3e;
    letter-spacing: 1.3px;
}
.about-half p{
    width: 400px;
    color: #666;
}
.down-cv{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(30deg, #141e30 ,#243b55);
    padding: 20px 35px;
    border-radius: 4px;
}
.p-title{
    color: #ff4757;
    font-weight: bold;
}
/* feature section  */

.feature{
    width: 100%;
    height: 800px;
    /* background-color: #f1f2f6; */
    background-color: #F1F2F6;
    margin-top: 13%;
}
.feature-half {
    width: 24%;
    float: left;
    margin-left: 5%;
    margin-top: 105px;

}
.feature-half P{
    width: 65%;
}
.feature-half img{
    width: 100%;
}
.feature-title{
    font-weight: 100;
    color: #2f3640;
    letter-spacing: 1px;
}
.feature-head-title{
    color: #222f3e;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}
.new-title{
    border-top: 65px solid #f1f2f6;
}
.feature-half h1{
    margin-top: 20px;
}
.color{
    color: #ff6348;
}
.shadow-box{
    box-shadow: 2px 10px 30px gray;
    height: 337px;
    border-radius: 15px;
    padding: 19px;
}

/* programming skills */

.skill{
    height: 700px;
}
.skill-title{
    text-align: center;
    margin-top: 100px;
    letter-spacing: 1px;
    font-size: 35px;
    color: #2f3640;
    /* width: 100%; */
}
.programming-skill{
    margin-left: 10%;
    margin-top: 60px;
}
.pro-lang{
    color: #2f3640;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 40px;
    padding-bottom: 5px;
    border-bottom: 5px solid #ff6348;
}
.html{
    width: 75%;
}
.css{
    width: 70%;
}
.javascript{
    width: 67%;
}
.bootstrap{
    width: 70%;
}
.react{
    width: 60%;
}
.node{
    width: 55%;
}
.pro-lang .percen{
    margin-left: 90%;
}
/* chat-section  */
.chat-section{
    height: 400px;
}
.chat-section h2{
    margin-left: 23%;
    margin-top: 80px;
    position: absolute;
    font-size: 47px;
    font-weight: 100;
    color: white;
    letter-spacing: 1.8px;
}
.chat-section button{
    margin-top: 93px;
    margin-left: 65%;
    position: absolute;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(30deg, #eb3349 ,#f45c43 );
    padding: 15px 30px;
    border: 0;
    border-radius: 5px;
}
.work img{
    width: 64%;
    height: 230PX;
    margin-left: 18%;
    position: relative;
    z-index: -1;
}
/* footer  */
footer{
    text-align: center;
    height: 250px;
}
footer h3{
    color: #333;
}
.gmail{
    font-weight: 100;
    color: #535c68;
    font-size: 35px;
    margin-top: -20px;
}
.social-icon{
    float: left;
    margin-left: -50px;
}
.social-icon img{
    width: 32%;
    /* margin-left: -50px; */
}
.icon-section{
    margin-left: 45%;
    margin-top: -10px;
}






































